html {
   background-image: linear-gradient(#f1faee, #a8dadc);
}

nav {
position: sticky;
position: -webkit-sticky;
position: sticky;
top: 0;

}

ul {
    border-radius: .5em .5em .5em .5em;
   list-style-type: none;
   overflow: hidden;
   background-color: white;
   
}

li {
   float: left;
}

li a {
   display: block;
   color: 757575;
   text-align: center;
   margin: 10px 5px;
   padding: 14px 16px;
   transition: 0.5s;
   text-decoration: none;
   color: #757575;
}

li a:hover {
   background-color: #f7f7f7;
   transition: 0.5s;
   border-radius: .5em;
}

nav li a:hover:not(.active) {
    font-size: 13pt;
    transition: 0.5s;
    background-color: #f7f7f7;
}  

main {
   background-color: #ffffff;
   border-radius: 0.5em;
   margin: 0px 100px;
}

section {
   border-top: solid 1px #dddddd;
}

#section1 {
   border-top: none;
}

@media only screen and (max-width: 1040px) {
}

@media only screen and (max-width: 685px) {
}
