@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Roboto&display=swap");

body {
  background: rgb(15, 170, 245);
  background: linear-gradient(
    0deg,
    rgba(15, 170, 245, 1) 0%,
    rgba(103, 13, 113, 1) 30%,
    rgba(2, 0, 36, 1) 100%
  );
}

.space {
  background: rgba(255, 255, 255, 0) center / 200px 200px round;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}



header {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  display: flex;
  color: #ebebff;
  padding: 30px 100px;
}

#logo {
  padding: 10px 10px 10px 100px;
}

#title {
  margin: 20px 0px 0px -10px;
}

nav {
  position: sticky;
  top: 0;
  z-index: 9999;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

nav ul {
  list-style-type: none;
  position: sticky;
  margin: -10px;
  padding: 0px;
  overflow: hidden;
  background-color: rgba(0, 23, 71, 0.8);
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: #ebebff;
  text-align: center;
  font-size: 15pt;
  transition: 0.5s;
  padding: 30px 16px;
  text-decoration: none;
  max-height: 20px;
}

nav li a:hover:not(.active) {
  font-size: 18pt;
  transition: 0.5s;
}

#intro {
  border-radius: 15px;
  margin: 100px 20px;
  padding: 20px;
  padding-bottom: 160px;
  background-color: #f1f1f1;
}
#research {
  border-radius: 15px;
  margin: 100px 20px;
  padding: 20px;
  background-color: #f1f1f1;
}
#usability {
  border-radius: 15px;
  margin: 100px 20px;
  padding: 20px;
  background-color: #f1f1f1;
}
#final {
  border-radius: 15px;
  margin: 100px 20px;
  padding: 20px;
  background-color: #f1f1f1;
}
#conclusion {
  border-radius: 15px;
  margin: 100px 20px;
  padding: 20px;
  background-color: #f1f1f1;
}

#conclusion p {
  padding-top: 30px;
}

#figma {
  position: sticky;
  top: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  background-color: #f1f1f1;
  padding: 10px 20px;
}

#figma ul {
  list-style-type: none;
  padding: 10px;
  overflow: hidden;

}

#figma li a {
  display: block;
  color: #252525;
  text-align: center;
  font-size: 15pt;
  transition: 0.5s;
  padding: 20px 14px;
  text-decoration: none;
  max-height: 20px;
}

#figma li a:hover:not(.active) {
  font-size: 18pt;
  background-color: rgba(0, 23, 71, 0.8);
  color: #ebebff;
  transition: 0.5s;
}

#example1  {
  display: block;
  float: right;
  max-width: 50%;
  margin-top: -110px;
}

#notes  {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#example2  {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

main {
  margin: 100px 25%;
  font-family: "Roboto", sans-serif;
  color: #343434;
}

h1 {
  font-weight: 1000;
  font-size: 35pt;
}

h2 {
  font-weight: 700;
  font-size: 20pt;
  font-weight: 900;
}

h3 {
  font-weight: 700;
  font-size: 16pt;
  font-style: italic;
}

main p {
  font-weight: 400;
  font-size: 12pt;
  margin-top: -10px;
}

#imgBar {
  position: relative;
  margin-top: 20px;
  margin: 100px -50%;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}
#imgBar #steps li div {
  border-radius: 50px;
  padding: 0px 25px;
}

#imgBar ul {
  list-style: none;
  text-align: center;
  overflow: hidden;
  border-radius: 15px;
  margin: 20px;
  padding: 20px;
  background-color: rgba(0, 23, 71, 0.8);
}

#imgBar ul li {
  padding: 14px 20px;
  display: inline-block;
}

#imgBar li img {
  transition: 0.3s;
}

#imgBar li div {
  position: absolute;
  background: black;
  color: white;
  margin-bottom: 20px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition:  visibility 0s, opacity 0.3s linear;
  transition: visibility 0s, opacity 0.3s linear;
}

#imgBar li:hover div {
  width: 251px;
  height: 593px;
  padding: 8px 15px;
  text-align: left;
  visibility: visible;
  opacity: 0.8;
}
#imgBar li div:not(:hover) {
  width: 251px;
  height: 593px;
  padding: 8px 15px;
  text-align: left;
  opacity: 0;
  visibility: visible;
  -webkit-transition:  visibility 0s, opacity 0.3s linear;
  transition: visibility 0s, opacity 0.3s linear;
}

#imgBar li:hover #small {
  height: 484px;
}

#imgBar li #small:not(:hover) {
  height: 484px;
}

#steps li div:not(:hover) {
  width: 228px;
}

#steps li:hover div {
  width: 228px;
}

#footer {
  display: grid;
  grid-template-columns: 30px 1fr 1fr 30px;
  margin: 50px 0px;
  color: #ebebff;
}

#contactImg {
  padding-top: 40px;
  border-radius: 50%;
  width: 300px;
  margin: auto;
  grid-column: 2;
}

#contactInfo {
  grid-column: 3;
  padding: 50px;
}

#lastupdated {
  display: inline;
}

footer {
  font-family: "Archivo Narrow", sans-serif;
  margin: 0 auto;
  text-align: center;
  color: #ebebff;
  background-color: rgb(0, 45, 140, .5);
  padding-bottom: 5px;
}

footer a {
  color: #ebebff;
}

.collapsible {
  position: fixed;
  visibility: collapse;
}

@media only screen and (max-width: 990px) {
  
  main{
    margin: 10px;
  }
  #logo {
    padding-left: 20px;
  }
  nav {
    margin: 0px -10px;
  }
  nav li {
   padding: 0px;

  }
  #imgBar ul li {
    padding: 14px 40px;
  }
  #imgBar ul li {
    margin: 0px ;
   }
   #imgBar {
    margin: 0px;
   }

   #contactImg {
   margin: 0px;
   width: 200px;
  }

  main {
    margin: 0px 5%;
  }


}

@media only screen and (max-width: 910px) {

  .collapsible {
    position: initial;
    visibility: visible;
    background-color:  rgba(0, 23, 71, 0.8);
    color: #ebebff;
    padding: 14.5px;
    width: 100%;
    border: none;
    text-align: left;
  }

  nav li {
    float: none;
  }

  .content {
    padding: 0 0px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  
  #imgBar ul li {
    padding: 14px 0px;
  }

  #footer {
    display:block;
  }

  #contactImg {
    margin-left: 40px;
    grid-column: 1;
  }
  
  #contactInfo {
    padding: 10px;
    grid-column: 1;
  }
  main {
    margin: 0px 0%;
  }
}
